<div ng-controller = "guidesController" class = "container">
  <nav class = "traveller-nav">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">&nbsp; &nbsp;&nbsp;xGo</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="#/">Log out</a></li>
		        <li><a href="#/travellers">Sign Up as Travelers</a></li>
		        <li><a href="#/guides">Sign Up as Tour Guides</a></li>
		      </ul>
		    </div>
  </nav>
	<div class = "row card-panel pink lighten-5 z-depth-5">
		<h3>Hey Tour Guide!!</h3>
		<div class = "col m4">
			<form ng-submit = "addGuide()">
				User Name: <input type = 'text' ng-model = "new_guide.username"><br>
				Email: <input type = 'text' ng-model = "new_guide.email"><br>
				Password: <input type = "password" ng-model = "new_guide.password"><br>
				where you can tour?
				<input type = 'text' ng-model = "new_guide.area"><br>
				Tell me about yourself:
				<input type = "text" ng-model = "new_guide.aboutself"><br>
				<button class = "waves-effect  pink accent-1 btn" type = "submit">Register</button>
			</form>
</div>
	<div class = "col m4 offset-m3">
			<form ng-submit = "loginguide()">
				Email: <input type = 'text' ng-model = "login.email"><br>
				Password: <input type = 'password' ng-model = "login.password"><br>
				<button class = "waves-effect  pink accent-1 btn" type = "submit">Login</button>
			</form>
	</div>
</div>
		<div class = "row card-panel pink lighten-5 z-depth-5">

		<ul class = "left-align" ng-repeat = "guide in guides | limitTo: 5">
			<li class="collection-item avatar col m3">
				<img src="images/yuno.jpg" alt="" class="circle">
				<a class="title" href="#/guide/{{guide._id}}">{{guide.username}}</a>
				<p>{{guide.area}}</p></li>
		</ul>

		</div>

</div>

