<title>Traveller Profile</title>
<nav class = "traveller-nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp; &nbsp;&nbsp;xGo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#/">Home</a></li>
        <li><a href="#/travellers">Travellers</a></li>
        <li><a href="#/guides">Tour Guides</a></li>
      </ul>
    </div>
  </nav>
<div ng-controller = "TProfileController">
	<h4 class = "center-align">Aloha! &nbsp; &nbsp;&nbsp;{{traveller.username}}</h4>
	<div class ="row center-align card-panel pink lighten-5 z-depth-5">
					<div class = " col m5 offset-m1">

						
						<h5>Read to go to : {{traveller.destination}} ? </h5>

					<button class = "waves-effect  pink accent-1 btn" ng-click = "fellowTravellers()">Meet Fellow Travellers:</button>

					<ul ng-repeat = "fellowTraveller in fellowTravellers">
						<li><h5>{{fellowTraveller.username}}</h5><!-- <button ng-click="chat(fellowTraveller)">chat</button> -->
						</li>
					</ul>
				</div>
				<div class = "col m5">
					<h4 class = "center-align">Chatroom</h4>
					<p ng-repeat="message in publicMsg">{{message.sender}}: {{message.message}}</p>
						<input type="text" ng-model="userMessage"><button class = "waves-effect  pink accent-1 btn" ng-click="sendMesage()">Chat</button>
				</div>
	</div>
	<div class = "row card-panel center-align  lime lighten-1 z-depth-5" >
		<h4 class = "center-align">Searching for a local tour guide for authentical local experience</h4>
		<button class = "waves-effect  pink accent-1 btn" ng-click = "searchGuides(traveller.destination)">Search</button>

		<ul class = "left-align" ng-repeat = "localGuide in localGuides | limitTo: 5">
			<li class="collection-item avatar col m3">
				<img src="images/yuno.jpg" alt="" class="circle">
				<a class="title" href="#/guide/{{localGuide._id}}">{{localGuide.username}}</a></li>
		</ul>



	</div>
</div>
<!-- 
		<form ng-sumbit = "addReview()">
			Add a review: 
			<input type = "text" ng-model = "new_review.review"><br>
			<button type = "submit">Submit</button>
	<>	</form> -->
 